################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Label printer Brady-M511/FileContentIndex/c45b5249-94a0-4e1f-9591-566013c6f878.vsidx
/.vs/Label printer Brady-M511/v17/.wsuo
/.vs/slnx.sqlite
/.vs/Label printer Brady-M511/FileContentIndex/c4651e11-110d-43b9-b354-d07781b76fcd.vsidx
/.vs
